@model PagedList.IPagedList<ShopGiayOnline.Models.GIAY>
@using PagedList.Mvc;
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    <link href="~/Public/collections.css" rel="stylesheet" type="text/css" />
}
<div id="breadcrumbs">
</div>
<div class="bg-main">
    <div class="container">

        <div class="box">
            <div class="row">
                <div class="col-lg-3 col-sm-4 filter-col d-md-block d-none" id="filter-col">
                    <!-- <div class="box filter-toggle-box">
                        <button class="btn-flat btn-hover" id="filter-close">close</button>
                    </div>-->

                    <div class="box">
                        <span class="filter-header">
                            Price
                        </span>
                        <div class="price-range">
                            <input type="text" class="form-control p-2">
                            <span>-</span>
                            <input type="text" class="form-control p-2">
                        </div>
                    </div>
                    <div class="box">
                        <ul class="filter-list">
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="status1">
                                    <label for="status1">
                                        On sale
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="status2">
                                    <label for="status2">
                                        In stock
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="status3">
                                    <label for="status3">
                                        Featured
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <span class="filter-header">
                            Brands
                        </span>
                        <ul class="filter-list">
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember1" checked="checked">
                                    <label for="remember1">
                                        Ananas
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember2">
                                    <label for="remember2">
                                        Adidas
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember3">
                                    <label for="remember3">
                                        Nike
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember4">
                                    <label for="remember4">
                                        Puma
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember5">
                                    <label for="remember5">
                                        Converse
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <span class="filter-header">
                            Colors
                        </span>
                        <ul class="filter-list">
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember1">
                                    <label for="remember1">
                                        Red
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember2">
                                    <label for="remember2">
                                        Blue
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember3">
                                    <label for="remember3">
                                        White
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember4">
                                    <label for="remember4">
                                        Pink
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember5">
                                    <label for="remember5">
                                        Yellow
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="box">
                        <span class="filter-header">
                            rating
                        </span>
                        <ul class="filter-list">
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember1">
                                    <label for="remember1">
                                        <span class="rating">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                        </span>
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember1">
                                    <label for="remember1">
                                        <span class="rating">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bx-star'></i>
                                        </span>
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember1">
                                    <label for="remember1">
                                        <span class="rating">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bx-star'></i>
                                            <i class='bx bx-star'></i>
                                        </span>
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember1">
                                    <label for="remember1">
                                        <span class="rating">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bx-star'></i>
                                            <i class='bx bx-star'></i>
                                            <i class='bx bx-star'></i>
                                        </span>
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                            <li>
                                <div class="group-checkbox">
                                    <input type="checkbox" id="remember1">
                                    <label for="remember1">
                                        <span class="rating">
                                            <i class='bx bxs-star'></i>
                                            <i class='bx bx-star'></i>
                                            <i class='bx bx-star'></i>
                                            <i class='bx bx-star'></i>
                                            <i class='bx bx-star'></i>
                                        </span>
                                        <i class='bx bx-check'></i>
                                    </label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8 col-sm-12">
                    <!-- <div class="box filter-toggle-box">
                        <button class="btn-flat btn-hover" id="filter-toggle">filter</button>
                    </div> -->
                    <div class="box">
                        <div class="producttt" id="products">
                            @for(int i=0; i<Model.Count;i++)
                            {
                                var item = Model.ElementAt(i);
                                <div style="width: 280px;" class="m-2 card card-body product-item">
                                    <div class="product-card">
                                        <div class="product-card-img">
                                            <img src="@Url.Content(item.hinh)" alt="" />
                                            <img src="@Url.Content(item.hinh)" alt="" />
                                        </div>
                                        <div class="product-card-info">
                                            <div class="product-btn">
                                                <a href="@Url.Action("Item","Collection", new { id= item.magiay })" class="btn-flat btn-hover btn-shop-now">shop now</a>
                                                <button onclick="openView(this)" class="btn-flat btn-hover btn-cart-add btn-quick-view" id="@i">
                                                    <i class='bx bxs-cart-add'></i>
                                                </button>
                                                <button class="btn-flat btn-hover btn-cart-add">
                                                    <i class='bx bxs-heart'></i>
                                                </button>
                                            </div>
                                            <div class="product-card-name">
                                                @item.tengiay
                                            </div>
                                            <div class="product-card-price">
                                                <span><del>@ShopGiayOnline.Models.FormatMoney.format(item.gia.Value)</del></span>
                                                <span class="curr-price">@ShopGiayOnline.Models.FormatMoney.format(item.gia.Value)</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions()
                                               )
                    @*<div class="box">
                            <ul class="pagination">
                                <li><a href="#"><i class='bx bxs-chevron-left'></i></a></li>
                                <li><a href="#" class="active">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class='bx bxs-chevron-right'></i></a></li>
                            </ul>
                        </div>*@
                </div>
            </div>
        </div>
    </div>
</div>

<div id="quick-view-product">
    <div class="quickview-overlay fancybox-overlay fancybox-overlay-fixed"></div>
    <div class="quick-view-product">
        <div class="block-quickview primary_block row">
            <div class="product-left-column col-xs-12 col-sm-4 col-md-4">
                <div class="clearfix image-block">
                    <span class="view_full_size">
                        <a class="img-product" id="product-img" title="Aeneanin consequated sagittis lacini" href="#">
                            <img id="product-featured-image-quickview" class="img-responsive product-featured-image-quickview" src="" alt="">
                        </a>
                    </span>
                    <div class="loading-imgquickview" style="display:none;"></div>
                </div>
                <div class="box">
                    <div class="product-img-list">
                       
                    </div>
                </div>

            </div>
            <div class="product-center-column product-info col-xs-12 col-sm-4 col-md-5">
                <h3 class="qwp-name">Aeneanin consequated sagittis lacini</h3>
                <div class="product-description rte">
                    Note:the size is Asian size, run smaller than US size,please check the size chart before you place order.We recommend one size larger to buy The Classic jersey is the...
                </div>
                <h5 class="brand">
                    <span>Brand:</span> Apollotheme
                </h5>
                <div class="availability">
                    <p class="available instock">In Stock</p>
                </div>
                <div class="product-sku">
                    <p>
                        Sku:
                        <span>36-demo</span>
                    </p>
                </div>
                <div class="socialsharing_product no-print">
                    <ul class="social-sharing list-unstyled">
                        <li>
                            <a class="btn social-sharing btn-facebook" href="#">
                                <i class="fa fa--facebook"></i> Facebook
                            </a>
                        </li>
                        <li>
                            <a class="btn social-sharing btn-twitter" href="#">
                                <i class="fa fa--facebook"></i> Tweet

                            </a>
                        </li>
                        <li>
                            <a class="btn social-sharing btn-google-plus" href="#">
                                <i class="fa fa--facebook"></i> Google+

                            </a>
                        </li>
                        <li>
                            <a class="btn social-sharing btn-pinterest" href="#">
                                <i class="fa fa--facebook"></i> Pinterest

                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="product-right-column product-item col-xs-12 col-sm-4 col-md-3" id="product-3635844932">
                <div>
                    <div id="form-product"">
                        
                        <span class="prices">
                            <span class="price h2">
                                <span class="money money-per-one">$41.93</span>
                            </span>
                        </span>
                        <span class="price-product-detail">
                            <span class="old-price product-price compare-price"></span>
                        </span>
                        <div class="clearfix"></div>
                        <div class="quantity_wanted_p">
                            <label for="quantity-detail" class="quantity-selector">Quantity</label>
                            <div class="js-qty">
                                <button type="button" id="collection-detail-minus" class="js-qty__adjust js-qty__adjust--minus">-</button>
                                <input type="text" class="js-qty__num" value="1" id="collection-quantity-detail">
                                <button type="button" id="collection-detail-plus" class="js-qty__adjust js-qty__adjust--plus">+</button>
                            </div>
                        </div>
                        <div class="total-price">
                            <label>Subtotal :</label>
                            <span>
                                <span class="money money-total">$41.93 </span>
                            </span>
                        </div>
                        <a href="#" id="add-to-cart" class="btn add_to_cart_detail">
                            <span>Add to cart </span>
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <a title="Close" class="quickview-close fancybox-close"></a>
    </div>

</div>

<script>
    var formatter = new Intl.NumberFormat('en-US', {
        style: 'currency',
        currency: 'USD',

        // These options are needed to round to whole numbers if that's what you want.
        //minimumFractionDigits: 0, // (this suffices for whole numbers, but will print 2500.10 as $2,500.1)
        //maximumFractionDigits: 0, // (causes 2500.99 to be printed as $2,501)
    });

    const quickView = document.getElementById("quick-view-product");
    const quickViewClose = document.getElementsByClassName("quickview-close")[0];
    const quickViewMinus = document.getElementById("collection-detail-minus");
    const quickViewPlus = document.getElementById("collection-detail-plus");

    //detail
    const quickView_shoeName = document.getElementsByClassName("qwp-name")[0];
    const quickView_description = document.getElementsByClassName("product-description")[0];
    const quickView_brand = document.getElementsByClassName("brand")[0];
    const quickView_availability = document.getElementsByClassName("availability")[0];
    const quickView_moneyOne = document.getElementsByClassName("money-per-one")[0];
    const quickView_quantity = document.getElementById("collection-quantity-detail");
    const quickView_moneyTotal = document.getElementsByClassName("money-total")[0];
    const quickView_imgList = document.getElementsByClassName("product-img-list")[0];
    const quickView_imgMain = document.getElementById("product-featured-image-quickview");
    const icons = document.getElementsByClassName("btn-quick-view");
    const form = document.getElementById("form-product");
    const addCart = document.getElementById("add-to-cart");
    

    //resize
    window.onresize = function () {

        if (window.innerWidth < 1140) {
            if (quickView.classList.contains('d-block')) {
                quickView.classList.remove('d-block');
            }
            for (let i = 0; i < icons.length; i++) {
                if (!icons[i].classList.contains("d-none"))
                    icons[i].classList.add("d-none");
            }

        } else {
            for (let i = 0; i < icons.length; i++) {

                    icons[i].classList.remove("d-none");
            }

        }
    }

    window.onload = function () {

        if (window.innerWidth < 1140) {
            if (quickView.classList.contains('d-block')) {
                quickView.classList.remove('d-block');
            }
            for (let i = 0; i < icons.length; i++) {
                if (!icons[i].classList.contains("d-none"))
                    icons[i].classList.add("d-none");
            }

        } else {
            for (let i = 0; i < icons.length; i++) {

                icons[i].classList.remove("d-none");
            }

        }
    }

    //logic
    /**/
    var moneyPerOne;
    var itemString;

    var listItem = @Html.Raw(JsonConvert.SerializeObject(ViewBag.listItem))
        /**/
    quickViewClose.onclick = function () {
        if (quickView.classList.contains('d-block')) {
            quickView.classList.remove('d-block');
        }
    }
    quickViewMinus.onclick = function () {
        if (quickView_quantity.value > 0) {
            quickView_quantity.value -= 1;
            quickView_moneyTotal.textContent = formatter.format(moneyPerOne * quickView_quantity.value);
            addCart.href = itemString + `${quickView_quantity.value}`;
        }

    }
    quickViewPlus.onclick = function () {
        quickView_quantity.value = Number(quickView_quantity.value) + 1;
        quickView_moneyTotal.textContent = formatter.format(moneyPerOne * quickView_quantity.value);
        addCart.href = itemString + `${quickView_quantity.value}`;

    }
    quickView_quantity.onkeyup = function () {
        quickView_moneyTotal.textContent = formatter.format(moneyPerOne * quickView_quantity.value);
        addCart.href = itemString + `${quickView_quantity.value}`;
    };

    

    function openView(e) {
        var item = listItem[e.id];

        quickView_imgList.innerHTML = '';
        quickView_imgMain.src = '';
        quickView_shoeName.textContent = item.tengiay;
        quickView_description.textContent = item.chitiet;
        quickView_brand.textContent = item.hang;
        quickView_moneyOne.textContent = formatter.format(item.gia);
        moneyPerOne = item.gia;
        quickView_quantity.value = 1;
        quickView_moneyTotal.textContent = formatter.format(item.gia * quickView_quantity.value);

        console.log(addCart);
        itemString = `/purchasing/AddItemToCart?maGiay=${item.magiay}&soLuong=`;
        addCart.href = `/purchasing/AddItemToCart?maGiay=${item.magiay}&soLuong=${quickView_quantity.value}`;
       

        var images = item.IMAGES;
        for (let i = 0; i <= 2; i++) {
            if (images.length <= i)
                break;
            else {
                if (i == 0) {
                    let url = images[i].substring(2);
                    quickView_imgList.innerHTML = ` <div class="product-img-item">
                            <img src="../${url}">
                        </div>`
                    quickView_imgMain.src = `../${url}`;
                    console.log(quickView_imgMain);
                } else {
                    let url = images[i].substring(2);
                    quickView_imgList.innerHTML += ` <div class="product-img-item">
                            <img src="../${url}">
                        </div>`
                }
            }
        }
        document.querySelectorAll('.product-img-item').forEach(e => {
            e.addEventListener('click', () => {

                let img = e.querySelector('img').getAttribute('src')
                document.querySelector('#product-img > img').setAttribute('src', img)
            })
        })
        quickView.classList.add('d-block');

    }




</script>
