@model IEnumerable<ShopGiayOnline.Models.GIAY>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    <link href="~/Areas/Admin/Assets/ListProduct.css" rel="stylesheet" />
    <script src="~/Scripts/popper.min.js"></script>

}

<div class="d-flex justify-content-between mb-4 ">
    <h2 class="fw-bold">Products</h2>
    <a href="@Url.Action("Create","Product")" class="btn btn-primary p-2 text-white bg-warning border-0 rounded-0 text-center">Create new</a>
</div>

<div class="card">
    <table id="example" class="table table-striped  sortable" style="width:100%">
        <thead>
            <tr>
                <th>
                    Product
                </th>

                <th>
                    Gender
                </th>

                <th>
                    Stock
                </th>

                <th>
                    Price
                </th>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                var source = item.hinh;
                <tr class="row-table">

                    <td class="column-center">
                        <img src="@Url.Content(item.hinh)" width="60" height="60" class="p-1" />
                        @Html.DisplayFor(modelItem => item.tengiay)

                    </td>
                    <td class="column-center">
                        @Html.DisplayFor(modelItem => item.gioitinh)
                    </td>

                    <td class="column-center">
                        @Html.DisplayFor(modelItem => item.soluong)
                    </td>
                    <td class="column-center">
                        @Html.DisplayFor(modelItem => item.gia)
                    </td>

                    <td class="option-mobile column-center">
                        <div class="dropdown">
                            <a class="btn bg-white dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-three-dots-vertical"></i>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li> <a class="dropdown-item" href="@Url.Action("Edit","Product", new { id = item.magiay })">Edit</a></li>
                              
                                <li><a class="dropdown-item" href="@Url.Action("Delete","Product", new { id = item.magiay })">Delete</a></li>
                            </ul>
                        </div>

                    </td>
                </tr>
            }
        </tbody>


    </table>

</div>

<script>
    $(document).ready(function () {
        $('#example').DataTable;
    });

</script>
<script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
